{% extends "base.html.twig" %}

{% block title %}{{ parent() }} | Ajouter un produit{% endblock %}

{% block h1 %}Ajouter un produit{% endblock %}

{% block body %}

    <a class="btn btn-primary" href="{{ path('produit_afficher') }}">Retour</a>

    {#
        2 manières d'afficher un formulaire

        - 1e :
            - fonction twig form() permet d'afficher l'intégralité du formulaire
                1 argument : la view de l'objet form
                Pour y placer le bouton submit, uniquement dans ProduitType

        {{ form(formProduit) }}

        - 2e :

        un élément du formulaire : form_row() 
        syntaxe (parent.enfant) formulaire.element
        form_row est composé de : 
            - form_label()
            - form_widget()
            - form_help()
            - form_errors()
            
    #}

    {{ form_start(formProduit) }} {# ouverture de la balise <form> #}

        <div class="row mx-0">
            {{ form_row(formProduit.titre) }}
            {{ form_row(formProduit.prix) }}
        </div>

        {# {{ form_row(formProduit.description) }} #}
        <div class="border border-dark p-3 rounded">
            {{ form_widget(formProduit.description) }}
            {{ form_label(formProduit.description) }}
            {{ form_help(formProduit.description) }}
            {{ form_errors(formProduit.description) }}
        </div>

        {# form_rest() permet d'afficher tous les éléments du formulaire non appelés #}
        {{ form_rest(formProduit) }}

        <input type="submit" value="Ajouter" class="btn btn-info col-12 mt-3">

    {{ form_end(formProduit) }} {# fermeture de la balise </form> #}
    

{% endblock %}

